.cat-buttons {
	margin-bottom: 10px;
	margin-top: 10px;
}

.cat-buttons a {
	margin-right: 10px;
	text-decoration: none;
}

.acf-subcategory {
	padding-right: 2px;
}

.cat-toggle-btn {
	text-decoration: none;
}